{block content}
	<h1 style="display: none" n:block="title">Hlavní stránka</h1>

	<section class="mainBody">
		<article>
			<p>
				
			</p>
		</article>
	</section>

	<style>
		.mainBody{
			background-color: red;
			display: flex;
		}

	</style>



