{block content}
    <h1 style="display: none" n:block="title">O mně</h1>

    <section class="mainBody">
        <article>
            <p>
                
            </p>
        </article>
    </section>